<%- include("partials/_header") %>
    <div id="content">
        <div id="startContainer">
            <input type="text" id="student" placeholder="Please type your name">
            <span id="instructions"></span>
            <button id="advanceBtn" onclick="start();">Start</button>
        </div>
        <br>
        <div id="sketchPadContainer" style="visibility: hidden;">
        </div>
    </div>
    <script src="./common/draw.js"></script>
    <script src="./js/sketchPad.js"></script>
    <script>
        let index = 0;
        const labels = ["car", "fish", "house", "tree", "bicycle", "guitar", "pencil", "clock"];
        const data = {
            student: null,
            session: new Date().getTime(),
            drawings: {}
        };
        const sketchPadContainer = document.getElementById("sketchPadContainer");
        const sketchPad = new SketchPad(sketchPadContainer);

        function start() {
            if (student.value == "") {
                alert("Please type your name first!");
                return;
            }
            data.student = student.value;
            student.style.display = "none";
            sketchPadContainer.style.visibility = "visible";
            const label = labels[index];
            instructions.innerHTML = `<span>Hi,<strong>${data.student}!</strong> Please draw a <strong>${label}!</strong></span>`;
            advanceBtn.innerHTML = "Next";
            advanceBtn.onclick = next;
        }

        function next() {
            if (sketchPad.paths.length == 0) {
                alert(`${data.student}, please draw a ${labels[index]} first!`);
                return;
            }
            const label = labels[index];
            data.drawings[label] = sketchPad.paths;
            sketchPad.reset();
            index++;
            if (index < labels.length) {
                const nextLabel = labels[index];
                instructions.innerHTML = `<strong>${data.student} </strong>, please draw a <strong>${nextLabel}</strong>`;
            } else {
                sketchPadContainer.style.visibility = "hidden";
                instructions.innerHTML = `Thank you! <strong> ${data.student}</strong> , for completing these drawings.<br>`;
                advanceBtn.innerHTML = "Download Drawings";
                advanceBtn.style.margin = "10px 0px 0px";
                advanceBtn.onclick = () => saveDrawing(data);
                save(data);
            }
        }



        function save(data) {
            fetch('/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.text())
                .then(message => {
                    showAlert(`<strong>${data.student}</strong>, you have successfully completed given drawings!`);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error saving data');
                });
        }


        function saveDrawing(data) {
            if (data) {
                const fileName = `${data.session}.json`;
                const a = document.createElement('a');
                a.href = URL.createObjectURL(new Blob([JSON.stringify(data)], { type: 'application/json' }));
                a.download = fileName;
                a.click();
            }
        }


        function showAlert(message){
             let alertBox = document.createElement("div");
             alertBox.classList.add("alert");
             alertBox.innerHTML = message;
             document.body.appendChild(alertBox);
             setTimeout(() => {
                 alertBox.remove();
             }, 5000);
        }

    </script>
    <%- include("partials/_footer") %>